# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo specific
.expo
.expo-shared/
dist/
web-build/
expo-env.d.ts

# IDEs
.idea/
.vscode/

# Native build files
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
